<h1>Home - Productos</h1>
<ul>
	{{#each products}}
		<li>
			<strong>{{this.title}}</strong>
			—
			{{this.description}}
			— ${{this.price}}
		</li>
	{{/each}}
</ul>
<p style="margin-top:16px;">
	<a href="/realtimeproducts">
		<button>Agregar productos</button>
	</a>
</p>